ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

ion-item {
  margin-bottom: 20px;
  --highlight-color: var(--ion-color-primary);
}

ion-button {
  margin-top: 20px;
}

.login-link {
  text-align: center;
  margin-top: 20px;

  p {
    margin: 0;
    color: var(--ion-color-medium);
  }

  ion-button {
    --padding-start: 0;
    --padding-end: 0;
  }
}