ion-footer {
    ion-toolbar {
      --background: var(--ion-color-primary);
      --color: var(--ion-color-primary-contrast);
    }
  
    ion-button {
      height: 100%;
      margin: 0;
      --color: var(--ion-color-primary-contrast);
      
      &:hover {
        --color: var(--ion-color-primary-shade);
      }
  
      ion-icon {
        font-size: 24px;
        margin-bottom: 4px;
      }
  
      ion-label {
        font-size: 10px;
        margin-top: 4px;
      }
    }
  
    ion-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  ion-footer.purple-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .purple-tab-bar {
    ion-toolbar {
      --background: #605eea;
      --color: white;
      --border-width: 0 !important;
      padding-top: 8px;
      height: 70px;
      
    
      .tab-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        ion-icon {
          font-size: 24px;
          margin-bottom: 4px;
        }
        
        .tab-label {
          font-size: 12px;
          font-weight: 500;
        }
      }
    }
  }