
<ion-content>
  <!-- Contenu du profil -->
  <ion-card *ngIf="medecin">
    <!-- Section Profil -->
    <div class="doctor-profile">
      <img [src]="medecin.image" 
           alt="Photo du médecin" 
           class="doctor-img" />
      <div class="doctor-info">
        <h2>{{ medecin.nom }}</h2>
        <p>Spécialité: {{ medecin.specialite }}</p>
      </div>
    </div>

    <!-- Onglets -->
    <ion-segment [(ngModel)]="selectedTab" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="info">
        <ion-label>Informations</ion-label>
      </ion-segment-button>
      <ion-segment-button value="schedule">
        <ion-label>Disponibilités</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Contenu Dynamique -->
    <div class="tab-content">
      <!-- Informations -->
      <div *ngIf="selectedTab === 'info'">
        <h3>À propos</h3>
        <p>{{ medecin.Propos }}</p>
        
        <h3>Contact</h3>
        <ion-item lines="none">
          <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-label>{{ medecin.telephone}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>{{ medecin.email }}</ion-label>
        </ion-item>
      </div>
      <!-- Disponibilités -->
      <div *ngIf="selectedTab === 'schedule'">
        <h3>Disponibilités</h3>
        <ion-list>
          <ion-item>
            <ion-label>Jours de consultation</ion-label>
            <ion-note slot="end">
              {{ medecin.disponibilites?.joursTravail?.join(', ') || 'Aucun jour renseigné' }}
            </ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Horaires</ion-label>
            <ion-note slot="end">
              {{ medecin.disponibilites?.heuresOuverture || '--:--' }} - 
              {{ medecin.disponibilites?.heuresFermeture || '--:--' }}
            </ion-note>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-card>
</ion-content>