<ion-header>
    <ion-toolbar>
      <ion-title>Profil du Docteur</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <!-- Section Image et Informations du Docteur -->
    <div class="doctor-info">
      <img src="assets/doctor1.webp" alt="Doctor Image" class="doctor-image" />
      <h2>Dr. John Doe</h2>
      <p>Cardiologue</p>
      <p>123 Rue de la Santé, Paris, France</p>
    </div>
  
    <!-- Section Disponibilité -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Disponibilité</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lundi - Vendredi : 9h00 - 17h00</p>
        <p>Samedi : 9h00 - 12h00</p>
      </ion-card-content>
    </ion-card>
  
    <!-- Section Localisation -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Localisation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>123 Rue de la Santé, Paris, France</p>
      </ion-card-content>
    </ion-card>
  </ion-content>