<ion-content class="register-container" scroll-y="false">

  <div class="register-card">
    <div style="transform: translate(140px,10px);" >
      <img src="assets/logo.png" alt="Medical App Logo" class="logo">
    </div>

    <h1>Inscription</h1>

    <form class="register-form">
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Nom</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="nom" 
          name="nom" 
          class="custom-input"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Prénom</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="prenom" 
          name="prenom" 
          class="custom-input"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Email</ion-label>
        <ion-input 
          type="email" 
          [(ngModel)]="email" 
          name="email" 
          class="custom-input"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input 
          type="password" 
          [(ngModel)]="password" 
          name="password" 
          class="custom-input"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Confirmer le mot de passe</ion-label>
        <ion-input 
          type="password" 
          [(ngModel)]="confirmPassword" 
          name="confirmPassword" 
          class="custom-input"
        ></ion-input>
      </ion-item>

      <ion-button 
        expand="full" 
        (click)="register()" 
        class="register-button"
      >
        S'inscrire
      </ion-button>

      <div class="login-link">
        <p>Déjà inscrit ?</p>
        <ion-button 
          fill="clear" 
          routerLink="/login" 
          class="login-button"
        >
          Se connecter
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>