ion-content.register-container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  --offset-bottom: 0;
  --offset-top: 0;
  overflow: hidden;
}

ion-content {
  --offset-bottom: 0;
  --offset-top: 0;
  overflow: hidden;
}

.register-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  height: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  width: 90px;  // Réduction de la taille
  height: 90px; // Réduction de la taille
  object-fit: contain;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.register-form ion-item {
  --background: #f4f5f8;
  --border-radius: 10px;
  --highlight-color: var(--ion-color-primary);
  margin-bottom: 15px;
}

.register-form .custom-input {
  --padding-start: 10px;
}

.register-button {
  margin-top: 20px;
  --border-radius: 10px;
  height: 50px;
  width: 100%;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link p {
  margin: 0;
  color: #666;
}

.login-link .login-button {
  --color: var(--ion-color-primary);
  text-transform: none;
}